@using NGnono.FinancialManagement.WebSiteCore.Models.Vo
@model NGnono.FinancialManagement.Data.Models.TagEntity

@{
    ViewBag.Title = "编辑分类";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <input type="hidden" value="@this.Model.Id" name="id"/>
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">详细信息</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </li>

        <li data-role="fieldcontain">
            <input type="submit" value="添加" />
        </li>
    </ul>
}

@section Header {
    @Html.Partial("_StdHeaderPartial", new StdHeaderViewModel { Title = ViewBag.Title })
}
@section HeaderScripts
{
    <script src="@Url.Content("~/js/widgets/jquery.validate.min.js")" type="text/javascript"></script>
}
@section FooterScripts {
}