@model NGnono.FinancialManagement.WebSiteCore.Models.Vo.SuccessViewModel

@{
    ViewBag.Title = this.Model.Title;
}

@section Header
{
    @Html.ActionLink("返回", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@this.Model.Title</h1>
}

<h2>@this.Model.MessageTitle</h2>
<p>
    @this.Model.MessageDesc
</p>

<ul data-role="listview" data-inset="true">
    <li><a href="@this.Model.BackUrl">@this.Model.BackName</a></li>
</ul>
