@using NGnono.FinancialManagement.Models.Enums
@using NGnono.FinancialManagement.WebSiteCore.Models.Vo
@model NGnono.FinancialManagement.WebSiteCore.Models.Dto.Product.IndexDto

@{
    ViewBag.Title = "商品大厅";
}

@section Header {
    @Html.Partial("_StdHeaderPartial", new StdHeaderViewModel
{
    Title = ViewBag.Title
})
}


<ul data-role="listview" data-split-icon="gear" data-split-theme="d">

    @foreach (var item in this.Model.Datas)
    {
        <li>
            @*<img src="images/album-bb.jpg" />*@
            <h3><a href="@Url.Action("Details", "Product", new { productid = item.Id })">@item.Name</a></h3>
            <p>@item.Store.Name</p>
            <p>@item.Brand.Name</p>

            @if (item.PriceSettings != null && item.PriceSettings.Count > 0)
            {
                var s = item.PriceSettings.Where(v => v.Status == (int)DataStatus.Normal).Select(v => new
                    {
                        v.Id,
                        Price = v.Amount,
                        Date = v.SourceDate
                    }).OrderByDescending(v => v.Date).FirstOrDefault();
                var d = item.PriceSettings.Where(v => v.Status == (int)DataStatus.Normal).Select(v => new
                {
                    v.Id,
                    Price = v.Amount,
                    Date = v.SourceDate
                }).OrderByDescending(v => v.Price).FirstOrDefault();
                
                <p class="ui-li-aside">当前价￥<strong>@s.Price</strong></p>
                <p class="ui-li-aside">历史最低价￥<strong>@d.Price</strong></p>
            }
        </li>
    }

</ul>

@section FooterScripts
{
    @if (this.Model.IsPaged)
    {
        if (this.Model.Index == this.Model.TotalPaged)
        {
            //last
        }

        if (this.Model.Index == 1)
        {
            //first
        }
    }


    <script type="text/javascript">

        /** pageSize change **/
        (function ($) {
            $.fn.pagesizepost = function (verififunc, options, url, callbackfunc) {
                $(this).change(function () {
                    var _pageIndex = parseInt($(this).parent().find("li.get-prev a").attr("pageIndex")) + 1;
                    //          alert(_pageIndex);
                    var _pageSize = $("#PageSize option:selected").val();
                    var options = [{ name: "PageSize", value: _pageSize }, { name: "PageIndex", value: 0 }];
                    var verification = verififunc();
                    if (!verification) {
                        return false;
                    }
                    var defaultPara = [];

                    $("input[type='text']").each(function () {
                        defaultPara.push({ name: $(this).attr("name"), value: $(this).val() });
                    });

                    $("input[type='password']").each(function () {
                        defaultPara.push({ name: $(this).attr("name"), value: $(this).val() });
                    });

                    $("input[type='hidden']").each(function () {
                        defaultPara.push({ name: $(this).attr("name"), value: $(this).val() });
                    });

                    var selectgroups = "";
                    $("input[type='checkbox']:checked").each(function () {
                        if ($(this).attr("value") != "") {
                            selectgroups = selectgroups + $(this).val() + ",";
                        }
                    });

                    if (selectgroups != "") {
                        defaultPara.push({ name: $("input[type='checkbox']:checked").attr("name"), value: selectgroups });
                    };
                    if (options != null) {
                        defaultPara = defaultPara.concat(options);
                    }

                    $.ajax({
                        type: "POST",
                        beforeSend: function () {
                            $("body").showLoading()
                        },
                        complete: function () {
                            $("body").hideLoading()
                        },
                        url: url,
                        data: defaultPara,
                        success: function (result) {
                            if (callbackfunc && typeof (callbackfunc) === 'function') {
                                callbackfunc(result);
                            }
                        }
                    });
                });
            };
        })(jQuery);

    </script>
}
