@using NGnono.FinancialManagement.WebSiteCore.Models.Vo
@model NGnono.FinancialManagement.WebSiteCore.Models.Vo.CreatedProductViewModel

@{
    ViewBag.Title = this.Model.Name.Substring(0, this.Model.Name.Length > 10 ? 10 : this.Model.Name.Length);
}

@section Header {
    @Html.Partial("_DefHeaderPartial", new DefHeaderViewModel
{
    Title = ViewBag.Title
})
}

@using (Html.BeginForm("Update", "Product", FormMethod.Post, new { id = "form" }))
{
    @Html.ValidationSummary()
    <ul data-role="listview" data-divider-theme="a" data-inset="true">
        <li data-role="list-divider">详细信息</li>
        <li>@Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)</li>
        <li>@Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description)</li>

        <li data-role="list-divider">价格相关</li>
        <li>@Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price)</li>
        <li>
            @Html.Hidden("dataDateTime", "", new { @class = "i-txt", id = "dataDateTime" })
        </li>

        <li>
            <fieldset data-role="controlgroup" data-type="horizontal">

                <input type="radio" name="isshare" id="chb_mode_2" value="false" checked="checked" onclick="$('isshare').val(false)" />
                <label for="chb_mode_2">不分享</label>
                <input type="radio" name="isshare" id="chb_mode_1" value="true" onclick="$('isshare').val(true)" />
                <label for="chb_mode_1">分享</label>

                @Html.HiddenFor(m => m.IsShare, new { id = "isshare" })
            </fieldset>
        </li>
    </ul>

    <ul data-role="listview" data-divider-theme="a" data-inset="true">
        <li data-role="list-divider">分类</li>
        <li>
            <a id="link_tag" href="#tagSetting" data-transition="pop">请选择....</a>
            @Html.HiddenFor(m => m.Tag_Id, new { id = "tag" })
        </li>
    </ul>

    <ul data-role="listview" data-divider-theme="a" data-inset="true">
        <li data-role="list-divider">店铺</li>
        <li>
            <a id="link_store" href="#storeSetting" data-transition="pop">请选择....</a>
            @Html.HiddenFor(m => m.Store_Id, new { id = "Store_Id" })
        </li>
    </ul>
    
    <ul data-role="listview" data-divider-theme="a" data-inset="true">
        <li data-role="list-divider">品牌</li>
        <li>
            <a id="link_brand" href="#brandSetting" data-transition="pop">请选择....</a>
            @Html.HiddenFor(m => m.Brand_Id, new { id = "Brand_Id" })
        </li>
    </ul>

    <ul data-role="listview" data-divider-theme="a" data-inset="true">
        <li data-role="fieldcontain">
            <input type="submit" id="submit" value="保存" />
        </li>
    </ul>
}

<script type="text/javascript">

    $('#home').bind('pageinit', pinit);

    function pinit() {

        $('#dataDateTime').mobiscroll().date({
            //invalid: { daysOfWeek: [0, 6], daysOfMonth: ['5/1', '12/24', '12/25'] },
            theme: 'jqm',
            display: 'inline',
            mode: 'scroller',
            dateOrder: 'mmD ddyy'
        });

        var val = $('input:radio[name="isshare"]:checked').val();
        if (val == null) {
            alert("请选择收入or支出");
            return false;
        }

        $('#isshare').val(val);


        $('#dataDateTime').mobiscroll('setValue', '@DateTime.Now.ToString("MM/dd/yyyy")', true);
        $('#dataDateTime').val('@DateTime.Now.ToString("MM/dd/yyyy")');

        $('#link_tag').on("click", function () {
            $.mobile.changePage('#tagSetting', { transition: "fade" });
        });


        $("#form").submit(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Bill")',
                data: $(this).serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.isSuccessful == true) {
                        alert("创建成功");
                        $.mobile.changePage('@Url.Action("Update", "Bill")?billid=' + data.data, { transition: "slideup" });
                    }
                    else {
                        var result = "";
                        for (var i in data.data) {
                            result = result + data.data[i] + "\r\n";
                        }
                        alert(result);
                    }
                },
                global: false
            });
            return false;
        });

        //为页面添加swip 事件
        return false;
    }

    function bindDate(date) {
        $('#h_dataDateTime').val(date);
        $('#link_date').html(date);

        backHome();
    }

    //在页面初始化的时候,利用phonegap初始化我们的应用 
</script>

@section PageAreas
{

    <div data-role="page" id="tagSetting">
        <div data-role="header">
            @Html.ActionLink("编辑", "UpdateList", "Tag")
            <h1>分类设置</h1>
            @Html.ActionLink("创建", "Create", "Tag")
        </div>
        &lt;---- 向左滑动返回
        <div data-role="content" id="tagSettingContent">

            @if (this.Model.Tags == null || this.Model.Tags.Count == 0)
            {
                <ul data-role="listview">
                    <li>@Html.ActionLink("创建新分类", "Create", "Tag")</li>
                </ul>
            }
            else
            {
                <ol data-role="listview">
                    @foreach (var item in this.Model.Tags)
                    {
                        <li id="tagNav_@item.Id">
                            <a href="javascript:void(0)" onclick=" bindTag(@item.Id, '@item.Name') ">@item.Name</a>
                        </li>
                    }
                </ol>
            }
        </div>
    </div>

    <script type="text/javascript">
        $('#tagSetting').bind('pageinit', pt);

        function pt() {
            $('#tagSetting').on("swipeleft", function () {
                $.mobile.changePage('#home', { transition: "fade" });
            });
        }

    </script>

    <div data-role="page" id="brandSetting">
        <div data-role="header">
            @Html.ActionLink("编辑", "UpdateList", "Brand")
            <h1>品牌设置</h1>
            @Html.ActionLink("创建", "Create", "Brand")
        </div>
        &lt;---- 向左滑动返回
        <div data-role="content" id="brandSettingContent">

            @if (this.Model.Brands == null || this.Model.Brands.Count == 0)
            {
                <ul data-role="listview">
                    <li>@Html.ActionLink("创建新品牌", "Create", "Brand")</li>
                </ul>
            }
            else
            {
                <ol data-role="listview">
                    @foreach (var item in this.Model.Brands)
                    {
                        <li id="brandNav_@item.Id">
                            <a href="javascript:void(0)" onclick="bindBrand(@item.Id, '@item.Name') ">@item.Name</a>
                        </li>
                    }
                </ol>
            }
        </div>
    </div>

    <script type="text/javascript">
        $('#brandSetting').bind('pageinit', pt);

        function pt() {
            $('#brandSetting').on("swipeleft", function () {
                $.mobile.changePage('#home', { transition: "fade" });
            });
        }

    </script>

    <div data-role="page" id="storeSetting">
        <div data-role="header">
            @Html.ActionLink("编辑", "MyUpdateList", "Store")
            <h1>商家设置</h1>
            <a href="@Url.Action("Create", "Store")" data-ajax="false">创建</a>
        </div>
        &lt;---- 向左滑动返回
        <div data-role="content" id="storeSettingContent">

            @if (this.Model.Stores == null || this.Model.Stores.Count == 0)
            {
                <ul data-role="listview">
                    <li>请您建立新商家</li>
                </ul>
            }
            else
            {
                <ol data-role="listview">
                    @foreach (var item in this.Model.Stores)
                    {
                        <li id="storeNav_@item.Id">
                            <a href="javascript:void(0)" onclick="bindStore(@item.Id, '@item.Name') ">@item.Name</a>
                        </li>
                    }
                </ol>
            }
        </div>
    </div>

    <script type="text/javascript">
        $('#storeSetting').bind('pageinit', pt);

        function pt() {
            $('#storeSetting').on("swipeleft", function () {
                $.mobile.changePage('#home', { transition: "fade" });
            });
        }

    </script>
}

@section HeaderStyles
{

}
@section HeaderScripts
{

}

@section FooterScripts
{
    <script type="text/javascript">

        function bindTag(tagId, tagName) {
            $('#tag').val(tagId);
            $('#link_tag').html(tagName);
            backHome();
        }

        function bindStore(id, name) {
            $('#store').val(id);
            $('#link_store').html(name);
            backHome();
        }
        
        function bindBrand(id, name) {
            $('#brand').val(id);
            $('#link_brand').html(name);
            backHome();
        }
        
        
        function backHome() {
            $.mobile.changePage('#home', { transition: "fade" });
        }

    </script>
}
