@using NGnono.FinancialManagement.WebSiteCore.Models.Vo
@model NGnono.FinancialManagement.WebSiteCore.Models.Dto.Bill.AccountDateDto

@{
    ViewBag.Title = "按天流水";
}

@section Header {
    @Html.Partial("_StdHeaderPartial", new StdHeaderViewModel
{
    Title = ViewBag.Title
})
}

<ul data-role="listview">
    <li>
        <h3>结余：</h3>
        <p>@NGnono.FinancialManagement.WebSiteCore.Utils.DateTimeUtil.GetWeekRangeDef(this.Model.CurrentDate)</p>
        <p class="ui-li-aside"><strong>￥@this.Model.Summ.Balance</strong></p>
    </li>
    <li>
        <div class="ui-grid-a">
            <div class="ui-block-a"><strong>(+)收入</strong> @this.Model.Summ.Revenue</div>
            <div class="ui-block-b"><strong>(-)支出</strong> @this.Model.Summ.Expenses</div>
        </div>

    </li>
    <li></li>
</ul>

<ul data-role="listview">
    @foreach (var item in this.Model.Data)
    {
        if (item != null)
        {
        <li>
            <a href="@Url.Action("Update", "Bill", new { billid = item.Id })">
                <h3>@item.Tag.Name</h3>
                <p>@item.Type == 2 ? "[收入]" : "[支出]"</p>
                <p class="ui-li-aside">
                    <br />
                    @if (item.Type == 2)
                    {
                        <span style="color: red">￥@item.Amount</span>
                    }
                    else
                    {
                        <span style="color: green">￥@item.Amount</span>
                    }
                </p>
            </a></li>
        }
    }
</ul>
