@using NGnono.FinancialManagement.Models.Enums
@using NGnono.FinancialManagement.WebSiteCore.Models.Vo
@using NGnono.FinancialManagement.WebSiteCore.Utils
@model NGnono.FinancialManagement.WebSiteCore.Models.Dto.Bill.RunningAccountDto

@{
    string str;
    const string formart = "{0}汇总";
    string t1;
    switch (this.Model.DateType)
    {
        case DateType.Year:
            str = String.Format(formart, this.Model.CurrentDate.ToString("yyyy年"));
            t1 = DateTimeUtil.GetYearRangeDef(this.Model.CurrentDate);
            break;
        case DateType.Month:
            str = String.Format(formart, this.Model.CurrentDate.ToString("yyyy年MM月"));
            t1 = DateTimeUtil.GetMonthRangeDef(this.Model.CurrentDate);
            break;
        case DateType.Week:
            str = "按周汇总";//, NGnono.FinancialManagement.WebSiteCore.Utils.DateTimeUtil.GetWeekRangeDef(this.Model.CurrentDate));
            t1 = DateTimeUtil.GetWeekRangeDef(this.Model.CurrentDate);
            break;
        default:
            str = String.Format("按天汇总<br/>{0}", this.Model.CurrentDate.ToString("yyyy年MM月dd日"));
            t1 = this.Model.CurrentDate.ToString("yyyy年MM月dd日");
            break;

    }

    ViewBag.Title = str;
}

@section Header {
    @Html.Partial("_StdHeaderPartial", new StdHeaderViewModel
{
    Title = ViewBag.Title
})
}

<ul data-role="listview">
    <li>
        <div data-role="fieldcontain">
            <label for="slider">选择日期:</label>
            <input data-highlight="true" type="range" name="slider" id="slider" value="@this.Model.CurrentDate.Year" min="1990" max="@DateTime.Now.Year" />
        </div>
    </li>
    <li>
        <a href="@Url.Action("Search")" data-ajax="false" id="search">查询</a>
    </li>
    <li>
        <h3>结余：</h3>
        <p>@t1
        </p>
        <p class="ui-li-aside"><strong>￥@this.Model.YearIae.Balance</strong></p>
    </li>
    <li>
        <div class="ui-grid-a">
            <div class="ui-block-a"><span style="color: red"><strong>(+)收入</strong> @this.Model.YearIae.Revenue</span></div>
            <div class="ui-block-b"><span style="color: green"><strong>(-)支出</strong> @this.Model.YearIae.Expenses</span></div>
        </div>

    </li>
    <li></li>
</ul>


<ul data-role="listview">
    @if (this.Model.DateType == DateType.Year)
    {
        foreach (var item in this.Model.Data)
        {
            if (item.Value != null)
            {
        <li><a href="@Url.Action("RunningAccount", "Bill", new { dateType = (int)DateType.Month, currentDate = item.Value.Date.ToString("yyyy-MM-dd") })">
            <h3>@item.Key 月</h3>
            <p>@NGnono.FinancialManagement.WebSiteCore.Utils.DateTimeUtil.GetMonthRangeDef(item.Value.Date)</p>
            <p class="ui-li-aside">
                <br />
                <span style="color: red">(+)@item.Value.Revenue</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: green">(-)@item.Value.Expenses</span> &nbsp;&nbsp;&nbsp;&nbsp;￥@item.Value.Expenses
            </p>
        </a></li>
            }
        }
    }
    else
    {
        foreach (var item in this.Model.Data)
        {
            if (item.Value != null)
            {
        <li>
            <a href="@Url.Action("AccountDate", "Bill", new { dt = item.Value.Date.ToString("yyyy-MM-dd") })" >
                <h3>@item.Value.Date.ToString("dd")</h3>
                <p>@item.Value.Date.DayOfWeek</p>
                <p class="ui-li-aside">
                    <br />
                    <span style="color: red">(+)@item.Value.Revenue</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: green">(-)@item.Value.Expenses</span> &nbsp;&nbsp;&nbsp;&nbsp;￥@item.Value.Expenses
                </p>
            </a></li>
            }
        }
    }
</ul>

@section FooterScripts
{
    <script type="text/javascript">
        $(document).on('pageinit', init);


        function init() {


            $("#slider").on("change", function(event, ui) {
                var d = $('#slider').val();
                
                $('#search').attr('href', '@Url.Action("Search")' + '?searchdate=' + d + '-1-1');
            });
        }
    </script>
}
