@using NGnono.FinancialManagement.WebSiteCore.Models.Vo
@model NGnono.FinancialManagement.WebSiteCore.Models.Dto.Bill.DetailDto

@{
    ViewBag.Title = "记账";
}

@section Header {
    @Html.Partial("_StdHeaderPartial", new StdHeaderViewModel
{
    Title = ViewBag.Title
})
}

@using (Html.BeginForm("Update", "Bill", FormMethod.Post))
{
    @Html.HiddenFor(m => m.BillUpdateViewModel.Id)
    @Html.Hidden("billid", this.Model.BillUpdateViewModel.Id)
    @Html.ValidationSummary()
    <ul data-role="listview" data-divider-theme="a" data-inset="true">
        <li>
            <fieldset data-role="controlgroup" data-type="horizontal">

                <input type="radio" name="type1" id="chb_mode_2" value="2" @if (this.Model.BillUpdateViewModel.Type == 2)
                                                                           {
                                                                               Response.Write("checked=\"checked\"");
                                                                           } onclick="$('#type').val(2)" />
                <label for="chb_mode_2">收入</label>
                <input type="radio" name="type1" id="chb_mode_1" value="1" @if (this.Model.BillUpdateViewModel.Type == 1)
                                                                           {
                                                                               Response.Write("checked=\"checked\"");
                                                                           } onclick="$('#type').val(1)" />
                <label for="chb_mode_1">支出</label>


                @Html.HiddenFor(m => m.BillUpdateViewModel.Type)
            </fieldset>
        </li>
    </ul>

    <ul data-role="listview" data-divider-theme="a" data-inset="true">
        <li data-role="list-divider">分类</li>
        <li>
            <a id="link_tag" href="#tagSetting" data-transition="pop">@this.Model.Bill.Tag.Name</a>
            @Html.HiddenFor(m => m.BillUpdateViewModel.Tag_Id, new { id = "tag" })
        </li>
        <li data-role="list-divider">详细信息</li>
        <li>
            <label for="amount">金额</label>

            @Html.TextBoxFor(m => m.BillUpdateViewModel.Amount, new { id = "amount" })
        </li>

        <li data-role="list-divider" onclick="d();">日期</li>
        <li>
            @Html.HiddenFor(m => m.BillUpdateViewModel.DataDateTime, new { @class = "i-txt", id = "dataDateTime" ,@value=this.Model.BillUpdateViewModel.DataDateTime.ToString("MM/dd/yyyy")})
            @*            <input class="i-txt" id="con_dataDateTime" name="dataDateTime" />*@
        </li>
        <li>
            <label for="description"></label>
            @Html.TextBoxFor(m => m.BillUpdateViewModel.Description)
        </li>

        <li data-role="fieldcontain">
            <input type="submit" value="保存"  />
        </li>
    </ul>
}

@section PageAreas
{

    <div data-role="page" id="tagSetting">
        <div data-role="header">
            @Html.ActionLink("编辑", "UpdateList", "Tag")
            <h1>分类设置</h1>
            @Html.ActionLink("创建", "Create", "Tag")
        </div>
        &lt;---- 向左滑动返回
        <div data-role="content" id="tagSettingContent">

            @if (this.Model.Tags == null || this.Model.Tags.Count == 0)
            {
                <ul data-role="listview">
                    <li>@Html.ActionLink("创建新分类", "Create", "Tag")</li>
                </ul>
            }
            else
            {
                <ol data-role="listview">
                    @foreach (var item in this.Model.Tags)
                    {
                        <li id="tagNav_@item.Id">
                            <a href="javascript:void(0)" onclick="bindTag(@item.Id,'@item.Name')">@item.Name</a>
                        </li>
                    }
                </ol>
            }


        </div>
    </div>
}

@section FooterScripts
{
    <script type="text/javascript">
        $('#chb_mode_@this.Model.BillUpdateViewModel.Type').attr('checked', 'checked');
     
        $(document).ready(pinit);

        d();
        function d() {
            $('#dataDateTime').mobiscroll().date({
                invalid: { daysOfWeek: [0, 6], daysOfMonth: ['5/1', '12/24', '12/25'] },
                theme: 'jqm',
                display: 'inline',
                mode: 'scroller',
                dateOrder: 'mmD ddyy'
            });
        }

        function pinit() {

            @*            $('#con_dataDateTime').mobiscroll('setValue', '@this.Model.Bill.DataDateTime.ToString("MM/dd/yyyy")', true);*@


            $('#dataDateTime').mobiscroll('setValue', '@this.Model.BillUpdateViewModel.DataDateTime.ToString("MM/dd/yyyy")', false);

            $('#dataDateTime').mobiscroll('show');



            //在页面初始化的时候,利用phonegap初始化我们的应用 

            //为页面添加swip 事件
            $('#home').on("pageinit", function () {
                //当我们向左滑动的时候,进入setting页面 
                $('#link_tag').on("client", function () {
                    $.mobile.changePage('#tagSetting', { transition: "fade" });
                });

            });

            //当我们向右滑动的时候,回到主页 
            $('#tagSetting').on("swipeleft", function () {
                $.mobile.changePage('#home', { transition: "fade" });
            });
        }


        function bindTag(tagId, tagName) {
            $('#tag').val(tagId);
            $('#link_tag').html(tagName);
            backHome();
        }

        function bindDate(date) {
            $('#h_dataDateTime').val(date);
            $('#link_date').html(date);

            backHome();
        }

        function backHome() {
            $.mobile.changePage('#home', { transition: "fade" });
        }

    </script>
}
