@using NGnono.FinancialManagement.Models.Enums
@using NGnono.FinancialManagement.WebSiteCore.Models.Vo
@model NGnono.FinancialManagement.WebSiteCore.Models.Dto.Product.IndexDto

@{
    ViewBag.Title = "商品大厅";
}

@section Header {
    @Html.Partial("_StdHeaderPartial", new StdHeaderViewModel
{
    Title = ViewBag.Title
})
}


<ul data-role="listview" data-split-icon="gear" data-split-theme="d">

    @foreach (var item in this.Model.Products)
    {
        <li>
            @*<img src="images/album-bb.jpg" />*@
            <h3><a href="@Url.Action("Details", "Product", new { productid = item.Id })">@item.Name</a></h3>
            <p>@item.Store.Name</p>
            <p>@item.Brand.Name</p>
             <p class="ui-li-aside"><strong>9:18</strong>AM</p>
        </li>
    }



</ul>
