@using NGnono.FinancialManagement.Models.Enums
@using NGnono.FinancialManagement.WebSiteCore.Models.Vo
@model NGnono.FinancialManagement.WebSiteCore.Models.Dto.Product.ListDto

@{
    ViewBag.Title = "商品大厅";
    var url = Url.Action("MyIndex", "Product");
}

@section Header {
    @Html.ActionLink("返回", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@ViewBag.Title</h1>
    <a href="@Url.Action("Create", "Product")" data-ajax="false">创建</a>
}


<ul data-role="listview" data-split-icon="gear" data-split-theme="d">

    @foreach (var item in this.Model.Datas)
    {
        <li>
            <h3><a href="@Url.Action("Details", "Product", new { productid = item.Id })" data-ajax="false">@item.Name</a></h3>
            <p>@item.Store.Name</p>
            <p>@item.Brand.Name</p>
            <p>@((item.IsShare == null || !item.IsShare.Value) ? "未分享" : "已分享")</p>
            @if (item.PriceSettings != null && item.PriceSettings.Count > 0)
            {
                var s = item.PriceSettings.Where(v => v.Status == (int)DataStatus.Normal).Select(v => new
                    {
                        v.Id,
                        Price = v.Amount,
                        Date = v.SourceDate
                    }).OrderByDescending(v => v.Date).FirstOrDefault();
                var d = item.PriceSettings.Where(v => v.Status == (int)DataStatus.Normal).Select(v => new
                    {
                        v.Id,
                        Price = v.Amount,
                        Date = v.SourceDate
                    }).OrderByDescending(v => v.Price).FirstOrDefault();
                
                <p class="ui-li-aside">当前价￥<strong>@s.Price</strong></p>
                <p class="ui-li-aside">历史最低价￥<strong>@d.Price</strong></p>
            }
            <p class="ui-li-aside"><a href="@Url.Action("Update", "Product", new { productid = item.Id })" data-ajax="false">编辑</a></p>
        </li>
    }
</ul>

@if (this.Model.IsPaged)
{
    <ul data-role="pagination">
        if (this.Model.Index == 1)
        {
        <li class="ui-pagination-next"><a href="@String.Format("{0}?page={1}", url, this.Model.Index + 1)">Next</a></li>
        }
        else
            if (this.Model.Index == this.Model.TotalPaged)
            {
        <li class="ui-pagination-prev"><a href="@String.Format("{0}?page={1}", url, this.Model.Index - 1)">Prev</a></li>
        }
            else
            {
        <li class="ui-pagination-prev"><a href="@String.Format("{0}?page={1}", url, this.Model.Index - 1)">Prev</a></li>

        <li class="ui-pagination-next"><a href="@String.Format("{0}?page={1}", url, this.Model.Index + 1)">Next</a></li>

        }
            
    </ul>
}
